# Temp
*.jsonl
*.swp
cached_formatted_dataset/
cached_formatted_dataset_debug/
wandb/

# Other repos
aotriton/
bitsandbytes/
megablocks/
megablocks.kernels-community/
openrlhf/
trl/

# axolotl
examples/
